{
    "appList": [{
            "name": "&automation",
            "exe": "C:/Windows/System32/cmd.exe",
            "argv": "",
            "dir": "d:/Codes/Python/automation",
            "icon": 0,
	    "operation": "runas"
        },
        {
            "name": "&ComputerManager",
            "exe": "C:/Windows/System32/mmc.exe",
            "argv": "compmgmt.msc"
        },
        {
            "name": "&explorer cmd.exe",
            "exe": "C:/Windows/explorer.exe",
            "argv": "/select, C:\\Windows\\System32\\cmd.exe"
        },
        {
            "name": "&FSCapture",
            "exe": "D:/Program Files/FastStoneCapture/FSCapture.exe"
        },
        {
            "name": "&Services",
            "exe": "C:/Windows/System32/mmc.exe",
            "argv": "services.msc"
        },
        {
            "name": "&SystemProperties",
            "exe": "C:/Windows/System32/SystemPropertiesAdvanced.exe"
        }
    ],
    "operation": ""
}